{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/containers/html-container title="DDB Events Configuration Form" }}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card bg-dark border-secondary">
                    <div class="card-header">
                        <h5 class="mb-0 text-white">DDB Events API Configuration</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="kommuneSelect" class="form-label text-white">Choose a municipality:</label>
                            <select required id="kommuneSelect" class="form-select bg-secondary text-white border-secondary">
                                <option required value="">Select municipality</option>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="librarySelect" class="form-label text-white">Choose a library:</label>
                            <select required id="librarySelect" class="form-select bg-secondary text-white border-secondary">
                                <option value="">Select library</option>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="nrOfDaysInput" class="form-label text-white">Number of days:</label>
                            <input required type="number" id="nrOfDaysInput" class="form-control bg-secondary text-white border-secondary" min="0" placeholder="Enter number of days" />
                        </div>

                        <div class="mb-4">
                            <label for="slideDurationInput" class="form-label text-white">Slide Duration (in seconds):</label>
                            <input required type="number" id="slideDurationInput" class="form-control bg-secondary text-white border-secondary" min="0" value="10" />
                        </div>

                        <div class="row">
                            <div class="col-8 border-end border-secondary">
                                <div class="mb-3">
                                    <label for="layoutSelection" class="form-label text-white">Choose layout:</label>
                                </div>
                                <div class="row g-4">
                                    <!-- Vertical Option -->
                                    <div class="col-6">
                                        <label class="d-block">
                                            <input id="vertical-option" type="radio" name="layout" class="d-none" value="vertical" />
                                            <div class="card bg-secondary bg-opacity-25 border border-secondary h-100 position-relative" style="cursor: pointer; aspect-ratio: 1/1; max-width: 300px;">
                                                <div class="card-body d-flex flex-column p-3">
                                                    <p class="fw-bold mb-2 text-white">Vertical:</p>
                                                    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                                                        <img src="/Hojformat-ikon.png" alt="Vertical layout" class="img-fluid" style="max-width: 90%; max-height: 90%; object-fit: contain;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <!-- Horizontal Option -->
                                    <div class="col-6">
                                        <label class="d-block">
                                            <input id="horizontal-option" type="radio" name="layout" class="d-none" value="horizontal" />
                                            <div class="card bg-secondary bg-opacity-25 border border-secondary h-100 position-relative" style="cursor: pointer; aspect-ratio: 1/1; max-width: 300px;">
                                                <div class="card-body d-flex flex-column p-3">
                                                    <p class="fw-bold mb-4 text-white">Horizontal:</p>
                                                    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                                                        <img src="/Bredformat-ikon.png" alt="Horizontal layout" class="img-fluid" style="max-width: 90%; max-height: 90%; object-fit: contain;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 ps-4">
                                <label for="selectContent" class="form-label text-white">Choose content:</label>
                                <div class="d-flex flex-column gap-2 mt-2">
                                    <div class="form-check">
                                        <input class="form-check-input fs-5" type="checkbox" id="title" name="title" value="title" />
                                        <label class="form-check-label text-white" for="title">
                                            Title
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input fs-5" type="checkbox" id="subtitle" name="subtitle" value="subtitle" />
                                        <label class="form-check-label text-white" for="subtitle">
                                            Subtitle
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input fs-5" type="checkbox" id="dateTime" name="dateTime" value="dateTime" />
                                        <label class="form-check-label text-white" for="dateTime">
                                            Date & Time
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input fs-5" type="checkbox" id="description" name="description" />
                                        <label class="form-check-label text-white" for="description">
                                            Description
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input fs-5" type="checkbox" id="qrCode" name="qrCode" />
                                        <label class="form-check-label text-white" for="qrCode">
                                            QR code
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input fs-5" type="checkbox" id="location" name="location" value="location" />
                                        <label class="form-check-label text-white" for="location">
                                            Location
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/ base/containers/html-container }}