{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{!-- Container meant to be used with the navbar --}}
<div id="main-container">
  {{!-- The content from your HTML file will be injected here --}}
  {{> @partial-block }}
</div>