# SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk>
# SPDX-License-Identifier: AGPL-3.0-only

include:
  - project: labs/salt-automation
    ref: master
    file:
      - /gitlab-ci-templates/common/rules.v1.yml
      - /gitlab-ci-templates/common/docker-build-meta.v2.yml
      - /gitlab-ci-templates/common/config-updater-meta.v1.yml
      - /gitlab-ci-templates/common/saltbert.v1.yml

stages:
  - lint
  - test
  - build
  - release

variables:
  DOCKERFILE: $CI_PROJECT_DIR/backend/docker/Dockerfile
  IMAGE_SHA: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA}
  RELEASE_IMAGE: magentaaps/openstream
  RELEASE_IMAGE_TAG: ${RELEASE_IMAGE}:${CI_COMMIT_TAG}
  RELEASE_IMAGE_LATEST: ${RELEASE_IMAGE}:latest
  CONTEXT: $CI_PROJECT_DIR/backend

#############
#  Linting  #
#############

# Linting base template
.lint-default: &lint-default
  stage: lint
  image: python:3.13-alpine  # Default Python image for Python linting

# Lint Python with Black
Lint Python:
  <<: *lint-default
  before_script:
    - pip3 install black==25.1.0 # keep version synchronized with version in requirements-dev.txt
  script:
    - black --version
    - cd $CI_PROJECT_DIR/backend && black --check --diff .

Lint REUSE compliance:
  extends: .lint-default
  image:
    name: fsfe/reuse:latest
    entrypoint: [""]
  script:
    - reuse lint

#############
#  Testing  #
#############

Django Tests:
  stage: test
  image: python:3.13
  cache:
    key:
      files:
        - backend/poetry.lock
    paths:
      - $CI_PROJECT_DIR/backend/.venv/
      - $CI_PROJECT_DIR/backend/.cache/pypoetry/
  variables:
    # Ensure the code is checked out in case included templates set GIT_STRATEGY: none
    GIT_STRATEGY: "fetch"
    ENV: "development"
    POETRY_VERSION: "2.1.4"
    POETRY_VIRTUALENVS_IN_PROJECT: "true"
    POETRY_NO_INTERACTION: "1"
    DJANGO_SECRET_KEY: django-insecure-7^ebk@&28nd-(#&crllcdn)u1=frq7669thh)eb591vb)^bw(8
  before_script:
    - apt install -y curl
    - curl -sSL https://install.python-poetry.org | python3 - --version $POETRY_VERSION
    - export PATH="$PATH:/root/.local/bin"
    - cd $CI_PROJECT_DIR/backend && poetry install --no-root
  script:
    - cd $CI_PROJECT_DIR/backend && poetry run python openstream/manage.py test

###########
#  Build  #
###########

Build app image:
  extends: .build-docker
  variables:
    CONTEXT: $CI_PROJECT_DIR/backend
  # Minimize unnecessary builds, specified because the extended template sets needs to []
  needs: [Lint Python, Django Tests]

#############
#  Release  #
#############

.release-default: &release-default
  stage: release
  image: alpine
  variables:
    GIT_STRATEGY: none  # We do not need the source code
  before_script: [apk add skopeo]

Release versioned tag:
  <<: *release-default
  extends: [.rules:semver-all]
  script:
    - skopeo copy --src-creds=${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD}
      --dest-creds=${RELEASE_REGISTRY_USER}:${RELEASE_REGISTRY_PASSWORD}
      "docker://${IMAGE_SHA}"
      "docker://${RELEASE_IMAGE_TAG}"

Release latest tag:
  <<: *release-default
  extends: [.rules:semver-core]
  script:
    - skopeo copy --src-creds=${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD}
      --dest-creds=${RELEASE_REGISTRY_USER}:${RELEASE_REGISTRY_PASSWORD}
      "docker://${IMAGE_SHA}"
      "docker://${RELEASE_IMAGE_TAG}"