/* SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> */

/* SPDX-License-Identifier: AGPL-3.0-only */
@import "../../scss/main";

body {
  background-color: $secondary;
}

#organisations-list {
  max-height: min(60vh, 32rem);
  overflow-y: auto;
  padding-right: 0.5rem;
}

#organisations-list .organisation-card:last-child {
  margin-bottom: 0;
}

@media (width <= 576px) {
  #organisations-list {
    max-height: 50vh;
  }
}
