{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<div class="modal-footer-between"></div>
        {{> base/buttons/icon-button type="button" variant="secondary" icon="close" text=cancelText data-bs-dismiss="modal"}}
        {{> base/buttons/icon-button type="button" variant="danger" icon="delete" text=deleteText id=deleteId}}
        {{> base/buttons/icon-button type="button" variant="primary" icon="save" text=saveText id=saveId}}
    </div>
</div>
