{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
<li class="nav-item me-2">
  <a href="{{href}}" class="nav-link d-flex align-items-center px-2">
    <span class="material-symbols-outlined text-white">{{icon}}</span>
    <span class="navbar-text ms-1">{% trans "{{title}}" %}</span>
  </a>
</li>