{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/modal/modal id="customPromptModal" }}
    {{#*inline "header"}}
        <div class="bg-warning d-flex justify-content-between align-items-center w-100 p-3">
            {{> base/modal/modal-title class="mb-0" content="<span class=\"material-symbols-outlined me-2\">warning</span>{% trans \"Confirm Delete\" %}"}}
            {{> base/modal/modal-header-close}}
        </div>
    {{/inline}}
    
    {{#*inline "body"}}
        <div id="customPromptMessage" class="mb-3"></div>
        {{> base/modal/confirmation-prompt textBoxId="textToType"}}
        <form id="prompt-form">
            <div class="mb-3">
                {{> base/form/label for="customPromptInput" text="Type here:"}}
                {{> base/form/input type="text" id="customPromptInput" placeholder="Type the confirmation text above..." required=true}}
                {{> base/form/invalid-feedback id="confirmationError" text="The text you entered does not match the required confirmation text."}}
            </div>
        </form>
    {{/inline}}
    
    {{#*inline "footer"}}
        {{> base/modal/modal-footer-close id="customPromptCancelBtn" btn-text="Cancel"}}
        <button type="button" class="btn btn-danger" id="customPromptOkBtn" disabled>{% trans "Confirm Delete" %}</button>
    {{/inline}}
{{/base/modal/modal}}
