{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/containers/html-container title="Manage Fonts" script-src="/src/assets/pages/manage-fonts/main.js" }}
    {{> base/navbar/navbar_global_settings }}
    {{#> base/containers/main-container }}
        <div class="container-fluid pt-4">
            <div class="row">
                <div class="col-12">
                    <h1 class="mb-4">{% trans "Manage Fonts" %}</h1>
                    <p>{% trans "Manage custom fonts for your organization. These fonts will be available across all branches." %}</p>
                    <div id="admin-required-message" class="alert alert-warning d-none" role="alert">{% trans "You must be an organization admin to add or modify fonts." %}</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5>{% trans "Custom Fonts" %}</h5>
                            <button type="button" class="btn btn-primary" id="add-font-modal-btn">
                                <i class="material-symbols-outlined me-2">add</i>{% trans "Add Font" %}
                            </button>
                        </div>
                        <div class="card-body">
                            <div id="fonts-container">
                                <div class="text-center py-4 d-none" id="loading-spinner">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">{% trans "Loading..." %}</span>
                                    </div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>{% trans "Font Name" %}</th>
                                            <th>{% trans "Example" %}</th>
                                            <th>{% trans "Actions" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="fonts-table-body">
                                        <!-- Fonts will be populated here via JavaScript -->
                                    </tbody>
                                </table>
                                <div id="no-fonts-message" class="alert alert-info d-none">
                                    {% trans "No custom fonts found. Add a new font to get started." %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> pages/manage-fonts/modals/add-font-modal }}
        {{> pages/manage-fonts/modals/edit-font-modal }}
        {{> pages/manage-fonts/modals/delete-modal }}
    {{/base/containers/main-container}}
{{/base/containers/html-container}}