<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // This page exists to redirect legacy /register-screen requests to /connect-screen
      const newUrl = '/connect-screen' + window.location.search;
      window.location.replace(newUrl);
    </script>
</body>
</html>