{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/content-engine/element-type-toolbars/element-type-toolbars class="website-toolbar" title="Website" }}
    <input id="change-website-input"
           name="change-website"
           type="url"
           placeholder="https://example.com"
           class="w-25 form-control py-1 gap-2 rounded mx-3"
           style="font-size: var(--fs-small)">
    <button id="update-change-website-btn" class="btn btn-tertiary btn-sm me-2">{% trans "Update" %}</button>
    <div class="vr m-1"></div>
    <span class="ms-2">{% trans "Volume" %}</span>
    <div class="d-flex align-items-center gap-2 ms-3">
        {{#> base/form/radio name="websiteVolume" id="embed-volume-up" value="false" icon="volume_up" autocomplete="off" ariaLabel="Volume up"}}
        {{/base/form/radio}}
        {{#> base/form/radio name="websiteVolume" id="embed-volume-off" value="true" icon="volume_off" autocomplete="off" ariaLabel="Volume off"}}
        {{/base/form/radio}}
    </div>
{{/base/content-engine/element-type-toolbars/element-type-toolbars}}
