{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/content-engine/element-type-toolbars/element-type-toolbars class="placeholder-toolbar" title="Placeholder" }}
    <button id="change-element-type-btn"
            class="btn btn-tertiary btn-sm d-flex align-items-center py-1 gap-2 rounded mx-3">
        {% trans "Change element type" %}
    </button>
{{/base/content-engine/element-type-toolbars/element-type-toolbars}}
