{{!-- SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> --}}
{{!-- SPDX-License-Identifier: AGPL-3.0-only --}}
{{#> base/content-engine/element-type-toolbars/element-type-toolbars class="wysiwyg-toolbar" title="Textbox" }}
      <div class="mx-3 d-flex">
        <select class="font-family-select mx-3 form-select form-select-sm">
            <!-- Populated by JS -->
        </select>
        <select class="font-size-select mx-1 form-select form-select-sm">
            <option value="1">10</option>
            <option value="2">11</option>
            <option value="3">12</option>
            <option value="4">14</option>
            <option value="5">16</option>
            <option value="6">18</option>
            <option value="7">20</option>
            <option value="8">24</option>
            <option value="9">28</option>
            <option value="10">32</option>
            <option value="11">36</option>
            <option selected value="12">40</option>
            <option value="13">44</option>
            <option value="14">48</option>
            <option value="15">52</option>
            <option value="16">56</option>
            <option value="17">60</option>
            <option value="18">64</option>
            <option value="19">68</option>
            <option value="20">72</option>
            <option value="21">80</option>
            <option value="22">88</option>
            <option value="23">96</option>
            <option value="24">104</option>
            <option value="25">112</option>
            <option value="26">120</option>
            <option value="27">128</option>
        </select>
        <select class="line-height-select mx-1 form-select form-select-sm"
                title="{% trans 'Line Height' %}">
            <option value="1">1</option>
            <option value="1.2" selected>1.2</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
        </select>
    </div>
    <div class="mx-4">
        <!-- Text Color Picker -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="textColorBtn" class="text-color-picker" icon="format_color_text" tooltip="{% trans 'Change Text Color' %}"}}
    </div>
    <div class="mx-3">
        <!-- Bold format -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="boldBtn" icon="format_bold" tooltip="{% trans 'Make Text Bold' %}"}}
        <!-- Italic format -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="italicBtn" icon="format_italic" tooltip="{% trans 'Make Text Italic' %}"}}
        <!-- Underline format -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="underlineBtn" icon="format_underlined" tooltip="{% trans 'Underline Text' %}"}}
    </div>
    <div class="mx-3">
        <!-- Text align left -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextLeftBtn" icon="format_align_left" tooltip="{% trans 'Align Text Left' %}"}}
        <!-- Text align center -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextCenterBtn" icon="format_align_center" tooltip="{% trans 'Align Text Center' %}"}}
        <!-- Text align right -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextRightBtn" icon="format_align_right" tooltip="{% trans 'Align Text Right' %}"}}
    </div>
    <div class="btn-group mx-3">
        <!-- Text vertical align top -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextTopBtn" icon="vertical_align_top" tooltip="{% trans 'Align Top' %}"}}
        <!-- Text vertical align center -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextMiddleBtn" icon="vertical_align_center" tooltip="{% trans 'Align Middle' %}"}}
        <!-- Text vertical align bottom -->
        {{> base/content-engine/element-type-toolbars/buttons/text-editor-btn id="alignTextBottomBtn" icon="vertical_align_bottom" tooltip="{% trans 'Align Bottom' %}"}}
    </div>
{{/base/content-engine/element-type-toolbars/element-type-toolbars}}
