/* SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> */

/* SPDX-License-Identifier: AGPL-3.0-only */
@import "../../scss/main";

/* Styles for the Manage Fonts page */
.settings-layout {
  padding: 4rem 5rem
}

.test {
  height: 70vh;
}

.font-preview {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

#font-preview-container {
  padding: 20px;
  border: 1px solid $gray;
  border-radius: 5px;
  background-color: $lightest-gray;
}

.disabled {
  opacity: 0.65;
  pointer-events: none;
}

/* Modal styles */
.modal-dialog {
  max-width: 500px;
}

.font-preview-text {
  display: block;
  padding: 8px;
  background-color: $lightest-gray;
  border: 1px solid $light-gray;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
}

/* Table styles */

.table td {
  vertical-align: middle;
}

.table tbody tr:last-of-type {
  border-color: transparent;
}

.table .font-preview-text {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
