/* SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> */
/* SPDX-License-Identifier: AGPL-3.0-only */
@import "../../scss/main";

.color-preview {
  width: 32px;
  height: 32px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  display: inline-block;
}

#colors-table tbody td {
  vertical-align: middle;
}

#color-form {
  max-width: 400px;
}
