/* SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> */

/* SPDX-License-Identifier: AGPL-3.0-only */
@import "colors";

.shadow-xl {
  box-shadow: rgba($darkest-gray, 0.12) 1px 1px 10px 5px;
}
