/* SPDX-FileCopyrightText: 2025 Magenta ApS <https://magenta.dk> */
/* SPDX-License-Identifier: AGPL-3.0-only */
#sidebar {
  width: 18rem;
  height: 100%;
  background-color: $secondary-accent;
  border-right: 1px solid $dark-gray;
}
